* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #8e4a4a;
  background-color: rgb(251, 245, 230);
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  color: #000000;
}

.navbar {
  background-color: #8b87b1;
  color: rgb(33, 124, 95);
  height: 60px;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
  color: rgb(109, 33, 190);
}

.navbar a {
  color: #0f120b;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  border-bottom: 2px #332222 solid;
  color: #5f2d2d;
}

.main {
  color: black;
  line-height: 2;
}
button {
  padding: 2px 4px;
  margin: 2px 4px;
  font-size: larger;
  font-weight: bolder;
  background-color: aquamarine;
  border-radius: 5px;
  border-width: 1px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #aebb9a;
}
